<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Node.js</h1></a>
      <p>A Net site Node.js</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About page</a></li>
      <li><a href="/blogs/create">New page</a></li>
    </ul>
</nav>