<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptas totam doloremque quod adipisci magni, dolorem sequi iste fugit! Aspernatur voluptates a cupiditate saepe! Corrupti dolorum sequi dolores blanditiis accusantium?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, dolor hic natus praesentium aut impedit eligendi rerum obcaecati distinctio itaque nulla illo non pariatur totam soluta iusto eum corrupti cumque?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eaque minus est praesentium voluptate perspiciatis? Veniam adipisci, voluptate ab quidem expedita sequi architecto doloremque qui fuga error atque quo deserunt?</p>
    </div>
    <%- include('./partials/footer.ejs') %>

  </body>
</html>
